*{
	margin: 0px;
	border: 0px;
	padding: 0px;
}
body{width: 100%;height: 100%;}
a{text-decoration: none;}
li{list-style: none;}
ul{
	text-align: center;
}
.content{
	width: 100%;
}
.edit_area{
	width: 100%;
	background: #FFFFFF;
	overflow: hidden;
	position: relative;
	margin-bottom: 0.8rem;
}
.item{
	width: 100%;
	background: #FFFFFF;
	overflow: hidden;
	margin-bottom: 1.6rem;
	position: relative;
	padding: 0 0.8rem;
}
.item p{
	margin-top: 1rem;
	width: 95%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	margin-bottom: 1.06rem;
}
.item img{
	margin-bottom: 1.06rem;
}
.edit_area .event_name{
	margin-left: 1rem;
	margin-top: 1.33rem;
	width: 75%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.edit{
	width: 1.46rem;
	height: 1.46rem;
	display: block;
	background: url(../img/edit.png) no-repeat 0px 0px;
	background-size: 100%;
	position: absolute;
	right: 1.33rem;top: 1rem;
	display: none;
}
.event_xmbg{
	width: 3.2rem;
	text-align: center;
	position: absolute;
	right: 0.8rem;
	top: 1.06rem;
	display: none;
}
.event_xmbg img{
	width: 1.6rem;
	height: 1.6rem;
}
.event_xmbg p{
	font-size: 0.8rem;
}
.edit_area ul{
	margin-top: 1.53rem;
	text-align: left;
}
.edit_area ul li img{
	width: 1.33rem;
	height: 1.33rem;
	vertical-align: middle;
	margin-right: 0.8rem;
}
.edit_area ul li{
	margin-bottom: 1.06rem;
	display: block;
	margin-left: 0.93rem;
}
.edit_area ul li i{
	color: #999999;
}
.complete{
	width: 100%;
	position: fixed;
	left: 0%;
	bottom: 0rem;
	background: #FFFFFF;
	color: #999;
	height: 2.6rem;
	display: none;
	font-size: 1.13rem;
}
.complete1{
	width: 100%;
	position: fixed;
	left: 0%;
	bottom: 0rem;
	background: #FFFFFF;
	color: #999;
	height: 2.6rem;
	display: none;
	font-size: 1.13rem;
}
.event_summary{
	position: fixed;
	left: 0px;top: 0px;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	display: none;
}
.event_summary1{
	display: none;
	position: fixed;
	left: 50%;
	top: 20%;
	z-index: 5;
	width: 80%;
	margin-left:-40%;
	border-radius: 0.167rem;
	overflow: hidden;
}
.bomb_box{
	width: 100%;
	background: #FFFFFF;
	padding: 0 0.8rem;
	color: #666666;
	font-size: 1.06rem;
	overflow: hidden;
}
.bomb_box p{
	font-size:1.067rem;
	margin-top: 1.3rem;
	color: #333333;	
	height: 1.667rem;
	text-align: center;
}
.bomb_box_ok{
	margin-top: 1.3rem;
	height: 1.667rem;
}
.bomb_box_img{
	height: 2.3rem;
}
.bomb_box_font{
	height: 1.667rem;;
}
.Index_footer_alert{
	width: 100%;
	height: 3.2rem;
}
.Index_footer_alert span{
	display: block;
	float: left;
	width: 50%;
	height: 3.2rem;
	border-top:1px solid #e5e5e5;
	text-align: center;
	line-height: 3.2rem;
}
.Index_footer_alert .cancel{
	border-right:1px solid #e5e5e5;
}
.int1{
	width: 1.53rem;
	height: 1.53rem;
	border-radius: 50%;
	margin-right: 0.33rem;
	vertical-align: middle;
}
.int2{
	width: 1.53rem;
	height: 1.53rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 0.33rem;
	margin-left: 2.33rem;
}
.int3{
	width: 100%;
	height: 2.93rem;
	padding-left: 0.53rem;
	border-radius: 0.33rem;
	border: 1px solid #b2b2b2;
}
#int4{
	width: 100%;
	border: 1px solid #B2B2B2;
	height: 83px;
	resize : none;
	border-radius: 0.33rem;
	padding: 0.6rem;
	margin-bottom: 1.33rem;
}
.cancel{
	width: 50%;
	height: 3.2rem;
	color: #666666;
	background: #FFFFFF;
	border-right: 1px solid #e5e5e5;
}
.determine{
	width: 50%;
	height: 3.2rem;
	color: #FF0000;
	background: #FFFFFF;
}
#appDateTime{
	width: 100%;
	height: 2.66rem;
	border-radius: 0.33rem;
	padding-left: 0.33rem;
	border: 1px solid #CCCCCC;
}
.share{
	width: 100%;
	height: 3.26rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	 box-shadow: 0 -2px 9px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.6), 0px 0 0px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.75);
}
.share img{
	width: 2.4rem;
	margin-left: 0.53rem;
	height: 2.4rem;
	margin-right: 0.6rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: 0.43rem;
}
.share button{
	width: 77%;
	margin-right: 0.8rem;
	height: 2.4rem;
	color: #FFFFFF;
	float: right;
	font-size: 1.06rem;
	border-radius:0.2rem ;
	margin-top: 0.43rem;
}
.prompt{
	text-align: center;
	color: #FF0000!important;
	display: block;
	position: absolute;
	bottom: 2.66rem;
	width: 100%;
	margin-left: -2.66rem;
	display: none;
}
.tishi1{
	text-align: center;
	color: #FF0000!important;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	font-size: 0.93rem;
	display: block;
	position: absolute;
    left: 50%;
    margin-left: -3.26rem;
    display: none;
}
.tishi2{
	text-align: center;
	color: #FF0000!important;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
	font-size: 0.93rem;
	display: block;
	position: absolute;
    left: 50%;
    margin-left: -5rem;
    bottom: 3.2rem;
    display: none;
}
.return_index{
	width: 4rem;
	height: 2.66rem;
	background: #000000;
	text-align: center;
	opacity: 0.5;
	position: fixed;
	bottom: 6.13rem;
	right: 0px;
	border-radius: 0.33rem 0px 0px 0.33rem;
}
.return_index img{
	width: 1.13rem;
	height: 0.86rem;
	z-index: 2;
}
.return_index p{
	color: #FFFFFF;
	z-index: 2;
	font-size: 0.8rem;
}
.cjr_box{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-left: 0.5rem;
}
.cjr_box img{
	height: 2.6rem!important;
	margin-right: 0rem!important;
	width: 2.6rem!important;
	border-radius: 50%;
	margin-bottom: 0.26rem;
}
.Event_desc_two i{
	width: 45%;
	display: inline-block;
	vertical-align: top;
}
.target{
	width: 45%;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}
.event_summary2{
	position: fixed;
	left: 0px;top: 0px;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	display: none;
}
.event_summary3{
	display: none;
	position: fixed;
	left: 50%;
	top: 35%;
	z-index: 5;
	width: 80%;
	margin-left:-40%;
	border-radius: 0.167rem;
	overflow: hidden;
	background: #FFFFFF;
}
.event_summary3 p{
	font-size:1.067rem;
	line-height: 3.5rem;
	color: #333333;	
	height: 3.5rem;
	text-align: center;
}
.Index_footer_alert .cancel2 {
    border-right: 1px solid #e5e5e5;
}
.determine2 {
    color: #FF0000;
}
@media screen and (min-width:320px){
	.content{
		min-height:556px ;
	}
}
@media screen and (min-width:360px){
	.content{
		min-height:628px ;
	}
}
@media screen and (min-width:375px){
	.content{
		min-height:655px ;
	}
}
@media screen and (min-width:412px){
	.content{
		min-height:720px ;
	}
}
@media screen and (min-width:414px){
	.content{
		min-height:724px ;
	}
}
.signin_issue{
	width: 72%;
	height: 3.2rem;
	background: #000000;
	color: #FFFFFF;
	position: fixed;
	left: 14%;
	top: 40%;
	text-align: center;
	line-height: 3.2rem;
	border-radius: 1.66rem;
	opacity: 0.7;
	display: none;
	z-index:6;
}
