@charset "utf-8";
.Myqr_title{
	font-size:1.067rem;
	width: 100%;
	margin-top:5.46rem;
	height: 2.1rem;
	text-align: center;
}
.Myqr_img{
	width: 100%;
	height: ;
}
.Myqr_img{
	margin:0 auto;
	width: 77.8%;
}
.Myqr_footer{
	font-size:1rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
}

















