@charset "utf-8";
.Perdata_con{
	padding:1.6rem 0.8rem 0;
	width: 100%;
}
.Perdata_list{
	background: #fff;
	border-radius:0.333rem;
}
.Perdata_list li{
	width: 100%;
	height: 3.2rem;
	line-height: 3.2rem;
	border-bottom:1px solid #e5e5e5;
}
.Perdata_list span{
	width: 5rem;
	display: block;
	line-height: 3.2rem;
	padding-left:1rem;
	float: left;
	font-size:1rem;
}
.Perdata_list i{
	padding-right:1rem;
	width: 73.5%;
	line-height: 3.2rem;
	display: block;
	float: left;
	text-align: right;
	font-size:1rem;
	color:#999;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.Perdata_last{
	width: 73.5%;
	float: left;
	height: auto;
}
.Perdata_list em{
	padding-top:1rem;
	display: block;
	width: 100%;
	font-size:1rem;
	color:#999;
	/*height: 1.2rem;*/
	line-height:initial;
}
.Perdata_list li:last-child{
	display: inline-block;
	border-bottom:0 none;
	height: auto;
}
.Perdata_tel{
	color:#ff0000;
	font-size:1rem;
    margin-top: 0rem;
    line-height: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.8rem;
}
.Perdata_footer{
	position: fixed;
	bottom:0rem;
	height: 2.933rem;
	width: 100%;
}
.Perdata_footer p{
	margin:0 auto;
	width: 100%;
	height: 2.933rem;
	text-align: center;
	line-height: 2.933rem;
	font-size:1.133rem;
	color:#fff;
	background: #6eabfe;
}
.Perdata_footer .Perdata_call{
	display: none;
}
/*edit by zhengjunting 2017/06/15 确定参加弹窗*/
.Perdata_alert{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
}
.Perdata_alert_bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.Perdata_alert_con{
	position: absolute;
	top:14rem;
	left:50%;
	width: 72%;
	height: 6.7rem;
	background: #fff;
	z-index:2;
	margin-left:-36%;
	border-radius:0.333rem;
}
.Perdata_alert_title{
	color:#666;
	font-size:1.067rem;
	text-align: center;
	width: 100%;
	padding-top:1.4rem;
	height: 3.067rem;
}
.Perdata_alert_btn{
	height: 3.633rem;
	width: 100%;
}
.Perdata_alert_btn span{
	color:#666;
	text-align: center;
	width: 50%;
	float: left;
	height: 3.633rem;
	line-height: 3.633rem;
	display: block;
	font-size:1.067rem;
}
.Perdata_alert_btn .Perdata_alert_btnok{
	color:#ff0000;
}
.return_index{
	width: 4rem;
	height: 2.66rem;
	background: #000000;
	text-align: center;
	opacity: 0.5;
	position: fixed;
	bottom: 6.13rem;
	right: 0px;
	border-radius: 5px 0px 0px 5px;
}
.return_index img{
	width: 1.13rem;
	height: 0.86rem;
	z-index: 2;
}
.return_index p{
	color: #FFFFFF;
	z-index: 2;
	font-size: 0.8rem;
}