*{
	margin: 0px;
	border: 0px;
	padding: 0px;
}
body{width: 100%;height: 100%;}
a{text-decoration: none;}
li{list-style: none;}
.content{
	width: 100%;
	/*padding: 0 0.8rem;*/
}
.list{
	background: #FFFFFF;
	overflow: hidden;
	margin-bottom: 0.8rem;
	width: 100%;
	padding-right:20%;
}
.list p{
	margin-left: 1.2rem;
	margin-top: 1.13rem;
	margin-bottom: 0.53rem;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #404040;
    font-size:1rem;
}
.target{
	margin-left: 1.2rem;
	color: #999999;
	font-size: 0.867rem;
	margin-right: 0.33rem;
}
.icon{
	width: 0.8rem;
	height: 1.33rem;
	background: url(../img/img10.png) no-repeat 0px 0px;
	background-size: 100%;
	display: block;
	position: absolute;top: 5.33rem;right: 2rem;
}
.left{float: left;} 
.target_content{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%;
    display: inline-block;
    color: #999999;
    font-size:0.867rem;
}
.list img{
	width: 0.86rem;
	height: 0.86rem;
	margin-left: 1.2rem;
	margin-right: 0.33rem;
}
.bgtime{color: #999999;font-size:0.867rem;}
.endtime{color: #999999; font-size:0.867rem;}
.gang{color: #999999;}
.number_column{
	margin-left: 1.2rem;
	font-size:0.867rem;
	color: #999;
}
.Sign_people{
	padding-left:1.2rem;
	font-size:0.867rem;
	height: 1.5rem;
    line-height: 1.5rem;
}
.bgnumber{color: #999; font-size:0.867rem;}
.endnumber{color: #999;font-size:0.867rem;}
.item{
	width: 100%;
	background: #FFFFFF;
	overflow: hidden;
	margin-bottom: 1.6rem;
	position: relative;
	padding: 0.66rem 0.8rem;
}
.kong{
	height: 4.73rem;
	width: 100%;
}
.view_participation{
	width: 100%;
	height: 3.26rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	box-shadow: 0 -2px 9px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.6), 0px 0 0px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.75);
	background: #e2f1ff;
}
.view_participation img{
	width: 2.4rem;
	margin-left: 0.53rem;
	height: 2.4rem;
	margin-right: 0.6rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: 0.43rem;
}
.view_participation button{
	width: 77%;
	margin-right: 0.8rem;
	background: #6eabfe;
	height: 2.4rem;
	color: #FFFFFF;
	float: right;
	font-size: 1.06rem;
	border-radius:0.2rem ;
	margin-top: 0.43rem;
}
.view_participation2{
	width: 100%;
	height: 3.26rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	box-shadow: 0 -2px 9px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.6), 0px 0 0px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.75);
	background: #e2f1ff;
}
.view_participation2 img{
	width: 2.4rem;
	margin-left: 0.53rem;
	height: 2.4rem;
	margin-right: 0.6rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: 0.43rem;
}
.view_participation2 button{
	width: 77%;
	margin-right: 0.8rem;
	height: 2.4rem;
	color: #FFFFFF;
	float: right;
	font-size: 1.06rem;
	border-radius:0.2rem ;
	margin-top: 0.43rem;
	background: #cdcdcd;
}

.view_participation1{
	width: 100%;
	height: 3.26rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	box-shadow: 0 -2px 9px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.6), 0px 0 0px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.75);
	background: #e2f1ff;
}
.view_participation1 img{
	width: 2.4rem;
	margin-left: 0.53rem;
	height: 2.4rem;
	margin-right: 0.6rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: 0.43rem;
}
.view_participation1 button{
	width: 77%;
	margin-right: 0.8rem;
	background: #6eabfe;
	height: 2.4rem;
	color: #FFFFFF;
	float: right;
	font-size: 1.06rem;
	border-radius:0.2rem ;
	margin-top: 0.43rem;
}
.comment{
	width: 100%;
	height: 3.26rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	box-shadow: 0 -2px 9px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.6), 0px 0 0px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.75);
	background: #e2f1ff;
}
.comment img{
	width: 2.4rem;
	margin-left: 0.53rem;
	height: 2.4rem;
	margin-right: 0.6rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: 0.43rem;
}
.comment button{
	width: 77%;
	margin-right: 0.8rem;
	background: #6eabfe;
	height: 2.4rem;
	color: #FFFFFF;
	float: right;
	font-size: 1.06rem;
	border-radius:0.2rem ;
	margin-top: 0.43rem;
}
.count_down{
	width: 100%;
	height: 3.26rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	box-shadow: 0 -2px 9px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.6), 0px 0 0px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.75);
	background: #e2f1ff;
}
.count_down img{
	width: 2.4rem;
	margin-left: 0.53rem;
	height: 2.4rem;
	margin-right: 0.6rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: 0.43rem;
}
.count_down .box{
	width: 77%;
	margin-right: 0.8rem;
	background: #6eabfe;
	height: 2.4rem;
	color: #FFFFFF;
	float: right;
	font-size: 1.06rem;
	border-radius:0.2rem ;
	line-height: 2.4rem;
	margin-top: 0.43rem;
	text-align: center;
}
.count_down .box i{
	margin-right: 0.66rem;
}
.sign{
	width: 100%;
	height: 3.26rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	box-shadow: 0 -2px 9px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.6), 0px 0 0px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.75);
	background: #e2f1ff;
}
.sign img{
	width: 2.4rem;
	margin-left: 0.53rem;
	height: 2.4rem;
	margin-right: 0.6rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: 0.43rem;
}
.sign button{
	width: 77%;
	margin-right: 0.8rem;
	background: #6eabfe;
	height: 2.4rem;
	color: #FFFFFF;
	float: right;
	font-size: 1.06rem;
	border-radius:0.2rem ;
	margin-top: 0.43rem;
}
.signed_in{
	width: 100%;
	height: 3.26rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	box-shadow: 0 -2px 9px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.6), 0px 0 0px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.75);
	background: #e2f1ff;
}
.signed_in img{
	width: 2.4rem;
	height: 2.4rem;
	margin-top: 0.43rem;
	margin-right: 0.6rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 0.53rem;
	margin-bottom: 1rem;
}
.signed_in button{
	width: 77%;
	margin-right: 0.8rem;
	height: 2.4rem;
	color: #FFFFFF;
	float: right;
	font-size: 1.06rem;
	border-radius:0.2rem ;
	margin-top: 0.43rem;
	background: #cdcdcd;
}
.have_participated{
	width: 80%;
	background: #000000;
	opacity: 0.5;
	height: 3rem;
	color: #FFFFFF;
	border-radius: 20.33rem;
	position: absolute;
	left: 10%;
	top: 50%;
	font-size: 1.06rem;
	display: none;
}
.sign_in_failed{
	width: 80%;
	background: #000000;
	opacity: 0.5;
	height: 3rem;
	color: #FFFFFF;
	border-radius: 20.33rem;
	position: absolute;
	left: 10%;
	top: 50%;
	font-size: 1.06rem;
	display: none;
}
.share{
	width: 100%;
	height: 3.26rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	box-shadow: 0 -2px 9px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.6), 0px 0 0px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.75);
	background: #e2f1ff;
}
.share img{
	width: 2.4rem;
	margin-left: 0.53rem;
	height: 2.4rem;
	margin-right: 0.6rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: 0.43rem;
}
.share button{
	width: 77%;
	margin-right: 0.8rem;
	height: 2.4rem;
	color: #FFFFFF;
	float: right;
	font-size: 1.06rem;
	border-radius:0.2rem ;
	margin-top: 0.43rem;
	background: #cdcdcd;
}
.Global_current_now{
	width: 100%;
	height: 3.26rem;
	box-shadow: initial;
}
.Global_current_now .share1{
	display: none;
}
.Global_current_now button{
	width: 100%;
	height: 3.26rem;
	line-height: 3.26rem;
	margin-right:0;
	border-radius:0;
}
.share_page{
	position: fixed;
	left: 0px;top: 0px;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	display: none;
}
.share_page1{
	width: 10.66rem;
	height: 4.66rem;
	overflow: hidden;
	display: none;
	position: fixed;
	right: 0.66rem;top: 3%;
	z-index: 5;
}
.share_page1 img{
	width: 100%;
}
.dizhi{
    width: 75%;
    color: #999;
	overflow : hidden;
  	text-overflow: ellipsis;
	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  	font-size:0.867rem;
}
.address-img{
	float: left;
	vertical-align: middle;
	margin-top: 0.33rem;
}
.Sign_global{
	width: 100%;
	float: left;
}
.return_index{
	width: 4rem;
	height: 2.66rem;
	background: #000000;
	text-align: center;
	opacity: 0.5;
	position: fixed;
	bottom: 6.13rem;
	right: 0px;
	border-radius: 0.33rem 0px 0px 0.33rem;
}
.return_index img{
	width: 1.13rem;
	height: 0.86rem;
	z-index: 2;
}
.return_index p{
	color: #FFFFFF;
	z-index: 2;
	font-size: 0.8rem;
}
.sure_popups1{
	position: fixed;
	left: 0px;top: 0px;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	display: none;
}
.sure_popups{
	width: 18rem;	
	background: #FFFFFF;
	position: fixed;
	left: 50%;
	top: 17.66rem;
	margin-left: -9rem;
	text-align: center;
	border-radius: 5px;
	z-index: 10;
	overflow: hidden;
	display: none;
}
.sure_popups p{
	line-height: 3.5rem;
	border-bottom: 1px solid #e5e5e5;
}
.sure_popups button{
	width: 49%;
	height: 3.2rem;
	background: #FFFFFF;
}
.btn_qx{
	border-right: 1px solid #E5E5E5;
}
.btn_qd{
	color: #FF0000;
}
.gray{
	width: 100%;
	height: 3.26rem;
	position: fixed;
	bottom: 0px;
	left: 0px;
	display: none;
	box-shadow: 0 -2px 9px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.6), 0px 0 0px rgba(209,213,218,0.75), 0px 0 0px rgba(209,213,218,0.75);
	background: #e2f1ff;
}
.gray img{
	width: 2.4rem;
	margin-left: 0.53rem;
	height: 2.4rem;
	margin-right: 0.6rem;
	border-radius: 50%;
	vertical-align: middle;
	margin-top: 0.43rem;
}
.gray button{
	width: 77%;
	margin-right: 0.8rem;
	background: #CECECE!important;
	height: 2.4rem;
	color: #FFFFFF;
	float: right;
	font-size: 1.06rem;
	border-radius:0.2rem ;
	margin-top: 0.43rem;
}
.signin_ts{
	width: 72%;
	height: 3.2rem;
	background: #000000;
	color: #FFFFFF;
	position: fixed;
	left: 14%;
	top: 40%;
	text-align: center;
	line-height: 3.2rem;
	border-radius: 1.66rem;
	opacity: 0.7;
	display: none;
}