.btn{
	width: 100%;
	height: 3.2rem;
	background: #6eabfe;
	text-align: center;
	color: #FFFFFF;
	font-size: 1.13rem;
	position: fixed;
	left: 0rem;
	bottom: 0rem;
}
/*@media screen and (min-height:568px){
	body{height:564px;width:100%;}
}
@media screen and (min-height:640px){
	body{height:636px;width:100%;}
}
@media screen and (min-height:641px){
	body{height:641px;width:100%;}
}
@media screen and (min-height:667px){
	body{height:663px;width:100%;}
}
@media screen and (min-height:732px){
	body{height:728px;width:100%;}
}
@media screen and (min-height:736px){
	body{height:732px;width:100%;}
}
@media screen and (min-height:1024px){
	body{height:1020px;width:100%;}
}
@media screen and (min-height:1366px){
	body{height:1362px;width:100%;}
}*/