@charset "utf-8";
body{
	width: 100%;
	height: 100vh;
	background: white;
}
.deleteparson_ul{
	padding: 0 0.8rem;
}
li{
	display: flex;
	display: -webkit-flex;
}
li em{
	width: 2.433rem;
	height: 4.033rem;
	background: url(../img/img20.png) no-repeat left center;
	-webkit-background-size: 1.6rem 1.6rem;
	background-size: 1.6rem 1.6rem;
}
li .deleteparson_current{
	background-image: url(../img/img_ok_03.png);
}
.deleteparson_list{
	flex: 1;
	height: 4rem;
	line-height: 4rem;
	display: inline-block;
	border-bottom: 1px solid #e5e5e5;
	font-size: 0;
}
.deleteparson_list img{
	margin-top: 0.8rem;
	margin-right: 0.8rem;
	width: 2.4rem;
	height: 2.4rem;
	border:1px solid #e5e5e5;
	border-radius:50%;
	vertical-align: top;
}
.deleteparson_list span{
	font-size: 1.067rem;
	color: #333333;
}
.deleteparson_list .tips_xingdong{
	float: right;
	font-size: 0.933rem;
	color: #fe6161;
}

/*取消退出*/
.Select_null{
	height:4.2rem;
	width: 100%;
	background: #fff;
}
.Select_btn{
	width:75%;
	height: 2.4rem;
	position: fixed;
	bottom:1.433rem;
	left:50%;
	margin-left:-37.5%;
}
.Select_btn span{
	display: block;
	float: left;
	width: 42%;
	height:2.4rem ;
	line-height: 2.4rem;
	border-radius:1.667rem;
	text-align: center;
	color:#fff;
	background: #a8cdfe;
	font-size:1rem;
}
.Select_btn .Select_btn_confirm{
	float: right;
	background: #cecece;
}
.time_tishi{
	background: rgba(0,0,0,0.5);
	width: 18rem;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left:-9rem;
	text-align: center;
	color: #FFFFFF;
	height: 3.2rem;
	border-radius: 1.66rem;
	display: none;
	font-size: 1.06rem;
	line-height: 3.2rem;
}
/*删除弹窗*/
.notes_overlook{
	display: none;
    width: 72%;
    height: 6.733rem;
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0.333rem;
    z-index: 2;
}
.notes_overlook_font{
	height: 3.533rem;
    line-height: 3.533rem;
    text-align: center;
    font-size: 1.067rem;
    border-bottom: 1px solid #e5e5e5;
}
.notes_overlook_btn{
	height: 3.2rem;
    width: 100%;
}
.notes_overlook_btn span{
    width: 50%;
    height: 3.2rem;
    line-height: 3.2rem;
    display: block;
    float: left;
    text-align: center;
    font-size: 1.067rem;
    color: #666;
}
.notes_overlook_btn .notes_overlook_btntwo{
	color: #ff0000;
    border-left: 1px solid #e5e5e5;
}
.event_summary{
	position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    display: none;
    z-index: 1;
}
/*返回首页*/
.return_index{
	width: 4rem;
	height: 2.66rem;
	background: #000000;
	text-align: center;
	opacity: 0.5;
	position: fixed;
	bottom: 6.13rem;
	right: 0px;
	border-radius: 5px 0px 0px 5px;
}
.return_index img{
	width: 1.13rem;
	height: 0.86rem;
	z-index: 2;
}
.return_index p{
	color: #FFFFFF;
	z-index: 2;
	font-size: 0.8rem;
}