@charset "utf-8";
.Pay_header{
	height: 4.167rem;
	width: 100%;
	background:#fff url(../img/all07.png) no-repeat center center;
	-webkit-background-size: 5.033rem 0.633rem;
	background-size: 5.033rem 0.633rem;
}
.Pay_header li{
	padding-top:2.6rem;
	font-size:1rem;
	width: 50%;
	height: 4.167rem;
	float: left;
	text-align: center;
	background: url(../img/all05_1.png) no-repeat center 0.533rem;
	-webkit-background-size: 1.6rem 1.6rem;
	background-size: 1.6rem 1.6rem;
}
.Pay_header .Pay_header_two{
	background-image: url(../img/all06_1.png);
}
.Pay_con{
	width: 100%;
	height: 17.3rem;
	background: url(../img/all10.png) no-repeat center 1.6rem;
	-webkit-background-size: 12.966rem 12.2rem;
	background-size: 12.966rem 12.2rem;
	padding-top:14.4rem;
	text-align: center;
}
.Pay_title{
	width: 100%;
	height: 3.2rem;
	position: fixed;
	bottom:3.2rem;
	left:0;
	text-align: center;
	font-size:1.067rem;
	color:#666;
}
.Pay_btn{
	height: 2.4rem;
	width: 100%;
	padding:0 12%;
	position: fixed;
	bottom:1.333rem;
	left:0;
}
.Pay_btn span{
	display: block;
	float: left;
	width: 42.25%;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
	color:#fff;
	background: #9cc7fe;
	font-weight: 500;
	border-radius:1.667rem;
}
.Pay_btn .Pay_btn_two{
	background: #6eabfe;
	float: right;
}
/*支付成功弹窗*/
.Pay_sucess{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;
	display: none;
}
.Pay_sucess_bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background: rgba(0,0,0,0.5);
}
.Pay_sucess_inner{
	background: #fff;
	width: 72%;
	height:5.8rem ;
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-36%;
	margin-top:-2.9rem;
	font-size:1.067rem;
	text-align: center;
	border-radius:0.333rem;
    padding-top: 0.8rem;
}
.Pay_sucess_inner i{
	color:#ff0000;
}
.Pay_alert{
	display: none;
	width: 72%;
	height:3.2rem ;
	line-height: 3.2rem;
	font-size:1rem;
	text-align: center;
	position: fixed;
	top:40%;
	left:50%;
	margin-left:-36%;
	background: rgba(0,0,0,0.5);
	color:#fff;
	border-radius:1.667rem;
}































